:root {
  /* Primary Colors */
  --bk-yellow: #ffba08;
  --bk-orange: #e85d04;
  --search-highlight: #dc2f02;
}

:focus {
  /* TODO */
}

body {
  /* TODO */
}

input {
  /* TODO */
}

.search-container {
  /* TODO */
}

.search-container input,
.search-container .suggestions {
  /* TODO */
}

.search-container input {
  /* TODO */
}

.search-container .suggestions {
  /* TODO */
}

ul {
  /* TODO */
}

ul.has-suggestions {
  /* TODO */
}

ul li {
  /* TODO */
}

ul li:hover {
  /* TODO */
}

input {
  /* TODO */
}