:root {
  /* Primary Colors */
  --bk-yellow: #ffe208;
  --bk-orange: #e85d04;
}

/* represents an element (such as a form input) that has received focus. It is generally triggered when the user clicks or taps on an element */
:focus {
  /* TODO */
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.25turn, var(--bk-yellow), var(--bk-orange));
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

input {
  /* TODO */
  padding: 0.5rem;
}

.search-container {
  border: 1px solid blue;
  margin: 0.25rem;
  box-shadow: 0 2px 2px var(--bk-orange);
}

.search-container input,
.search-container .suggestions {
  background-color: #f8d07f;
  width: 15rem;
}

.search-container input {
  /* TODO */
}

.search-container .suggestions {
  position: absolute;

}

ul {
  list-style-type: none;
}

ul.has-suggestions {
  /* TODO */
}

ul li {
  padding: 0 0.5rem;
}

ul li:hover {
  /* TODO */
}

#search {
  width: 5rem;
  height: 2.75rem;
  padding: 0.25rem;
  border-radius: 10px;
}

#search:hover {
  background-color: var(--bk-yellow);
  color: var(--bk-orange);
}